<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>My Website - About</title>
            <link rel="stylesheet" href="/static/css/app.css">
        </head>

        <body>
            <h1>Danielle Mullings</h1>
            <p>Danielle Mullings is a Jamaican software engineering student who makes cultural documentaries. She currently serves as the president of the Faculty of Science and Technology Guild Committee, University of the West Indies Mona.</p>
        </body>
</html>